:root {
    --white: #b3b389;
    --black: #141414;
    --orange: #FF9700;
    --red: #E50914;
    --lred: #f7797d;
    --green: #2ecc71;
    --blue: #3498db;
    --purple: #c471ed;
    --skin: #fdb35d;
    --lgreen: #A5FECB;
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #2196f3;
}

.loader {
    position: relative;
    display: flex;
}

.loader span {
    width: 50px;
    height: 300px;
    margin: 0 20px;
    background: #2196f3;
    animation: animate 1.4s linear infinite;
}

.loader span:nth-child(1) {
    animation-delay: 0s;
}

.loader span:nth-child(2) {
    animation-delay: 0.2s;
}

.loader span:nth-child(3) {
    animation-delay: 0.4s;
}

.loader span:nth-child(4) {
    animation-delay: 0.6s;
}

.loader span:nth-child(5) {
    animation-delay: 0.8s;
}

.loader span:nth-child(6) {
    animation-delay: 1s;
}

.loader span:nth-child(7) {
    animation-delay: 1.2s;
}

@keyframes animate {
    0% {
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        transform: translatex(-50px) scale(1);
        opacity: 0;
    }
    50% {
        box-shadow: 0 20px 50px rgba(0, 0, 0, .5);
        transform: translatex(0px) scale(1.2);
        opacity: 1;
    }
    100% {
        box-shadow: 0 0 0 rgba(0, 0, 0, .5);
        transform: translatex(50px) scale(1);
        opacity: 0;
    }
}

a {
    position: absolute;
    background-color: var(--red);
    font-family: var(--font);
    color: white;
    border-radius: 18px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.5s;
    outline: none;
    top: 10px;
}

#btn-1 {
    right: 20px;
}

#btn-2 {
    left: 20px;
}

a:hover {
    background-color: white;
    color: var(--red);
}

a:focus {
    background-color: white;
    color: var(--orange);
}
