:root {
    --white: #fff;
    --black: #141414;
    --orange: #FF9700;
    --red: #E50914;
    --lred: #f7797d;
    --green: #2ecc71;
    --blue: #3498db;
    --purple: #9c27b0;
    --skin: #fdb35d;
    --lgreen: #A5FECB;
    --font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--skin);
    min-height: 100vh;
}

.container {
    display: flex;
    position: relative;
}

.container span {
    background: none;
    font-size: 8em;
    margin: 0 15px;
    text-align: center;
    font-weight: 700;
    color: var(--skin);
    font-family: sans-serif;
    animation: name 2.4s linear infinite;
}

@keyframes name {
    0% {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
        transform: scale(1);
        opacity: 0;
    }
    50% {
        text-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
        transform: scale(1.2);
        opacity: 1;
    }
    100% {
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
        transform: scale(1);
        opacity: 0;
    }
}

.container span:nth-child(1) {
    animation-delay: 0s;
}

.container span:nth-child(2) {
    animation-delay: 0.2s;
}

.container span:nth-child(3) {
    animation-delay: 0.4s;
}

.container span:nth-child(4) {
    animation-delay: 0.6s;
}

.container span:nth-child(5) {
    animation-delay: 0.8s;
}

.container span:nth-child(6) {
    animation-delay: 1s;
}

.container span:nth-child(7) {
    animation-delay: 1.2s;
}

a {
    position: absolute;
    background-color: var(--white);
    font-family: var(--font);
    color: var(--black);
    border-radius: 18px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.5s;
    ;
    top: 10px;
}

#btn-1 {
    right: 20px;
}

#btn-2 {
    left: 20px;
}

a:hover {
    background-color: var(--black);
    color: var(--white);
}

a:focus {
    background-color: var(--black);
    color: var(--white);
}

a#btn-3 {
    position: absolute;
    background-color: white;
    font-family: var(--font);
    color: var(--lred);
    border-radius: 18px;
    border: none;
    text-decoration: none;
    padding: 10px 20px;
    transition: all 0.5s;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

a:hover#btn-3 {
    background-color: var(--lred);
    color: white;
}

a:focus#btn-3 {
    background-color: var(--lred);
    color: white;
}
